.navItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  min-width: 1px;
  overflow-wrap: break-word;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  margin: 16px 24px;
}

.productLink {
  color: rgb(0, 103, 184);
  cursor: pointer;
  font-weight: 600;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: underline;
  word-wrap: break-word;
}

.productIcon {
  flex-shrink: 0;
  font-weight: 600;
  margin-bottom: 8px;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}
